*,
*::before,
*::after{
  box-sizing: border-box;
}

:root{
  --ff-primary:'Roboto Condensed', sans-serif; 

  --fs-h1: 3em;
  --fs-h2: 2.25em;
  --fs-h3: 1.75em;
  --fs-body: 1.3em;

  --clr-dark: #1F1D1E;
  --clr-light: #fff;
  --clr-accent: #b5d23a;
  --clr-body: #d8dfe8;

  --fw-reg:300;
  --fw-med:400;
  --fw-bold: 700;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.15),
	      0.125em 0.125em 0.375em rgba(0,0,0,0.05);

  --bs-dark: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
        0.125em 0.125em 0.375em rgba(0,0,0,0.15);
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 100px;
  background-color: var(--clr-light);
  padding: 1em;
  box-shadow: var(--bs);
}

.logo{
  height: 80px;
  width: 200px;
}

.title{
  display: none;
}


.date{
  padding: 10px;
  font-size: var(--fs-h3);
  font-weight: var(--fs-h3);
  color: var(--clr-dark);
}


.intro--para{
  padding: 1.5em;
  background-color: #b5d23a;
}


.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: var(--bs-dark);
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
  color: var(--clr-dark);
}

.card--image{
  width: 100%;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: var(--ff-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--fs-body);
  font-weight: var(--fw-med);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 800px){
  .title{
    display: block;
    font-size: var(--fs-h1);
    color: var(--clr-dark);
    font-style: italic;
  }

  .card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }

  .loc{
    color: var(--clr-accent);
  }

  .card--image{
    max-width: 350px;
  }

  .card--list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: inherit;
  }
}
